.App {
  text-align: center;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.navbar {
  -webkit-box-shadow: 0px 5px 17px 1px rgba(52,58,64,0.5);
  -moz-box-shadow: 0px 5px 17px 1px rgba(52,58,64,0.5);
  box-shadow: 0px 5px 17px 1px rgba(52,58,64,0.5);
}

.dropdown {
  text-align: right;
}

.grid__sort-by {
  margin-right: 5em;
}

.grid__sort-by button {
  width: 200px;
  background-color: #343a40;
}

.navbar__brand {
  margin-left: auto;
  margin-right: auto;
}

.grid__row {
  padding: 3em 0 3em 5em;
}

.grid__record-single_card {
  margin-bottom: 2em;
}

.grid__record-single_card img {
  border-radius: 5px;
}

.grid__record-single_card .grid__record-artist {
  margin-top: 0.5em;
}

.grid__search {
  text-align: left;
  padding: 2.5em 2em 1em 0;
  padding-top: 2.5em;
}

.grid__add-new {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* .grid__add-new a {
  background-color: #343a40 !important;
} */

.grid__add-new h3, .grid__search h3 {
  margin-bottom: 0.5em;
}
